In [1]:
import os 
import pandas as pd

In [20]:
bible = pd.read_fwf('fichiers_bibles/bible_french_louis_segond.txt', header=None, cols=['Texte'])

In [21]:
bible.head()

,0,1,2,3,4,5,6,7,8
0,"01O||1||1||Au commencement, Dieu créa les cieu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01O||1||2||La terre était informe et vide: il ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01O||1||3||Dieu dit: Que la lumière soit! Et l...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01O||1||4||Dieu vit que la lumière était bonne...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"01O||1||5||Dieu appela la lumière jour, et il ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
bible = bible.iloc[:,0]

In [23]:
bible.head()

0    01O||1||1||Au commencement, Dieu créa les cieu...
1    01O||1||2||La terre était informe et vide: il ...
2    01O||1||3||Dieu dit: Que la lumière soit! Et l...
3    01O||1||4||Dieu vit que la lumière était bonne...
4    01O||1||5||Dieu appela la lumière jour, et il ...
Name: 0, dtype: object

In [24]:
bible.shape

(31102,)

In [25]:
livres = []
chapitres = []
versets = []
textes = []

for i in range(len(bible)):
    livres.append(int(bible.iloc[i].split('||')[0][:-1]))
    chapitres.append(int(bible.iloc[i].split('||')[1]))
    versets.append(int(bible.iloc[i].split('||')[2]))
    textes.append(bible.iloc[i].split('||')[3])

In [28]:
len(livres), len(chapitres), len(versets), len(textes)

(31102, 31102, 31102, 31102)

In [39]:
new_bible = pd.DataFrame({'livres':livres, 'chapitres':chapitres, 'versets':versets, 'textes':textes})

In [40]:
new_bible.head()

,livres,chapitres,versets,textes
0,1,1,1,"Au commencement, Dieu créa les cieux et la terre."
1,1,1,2,La terre était informe et vide: il y avait des...
2,1,1,3,Dieu dit: Que la lumière soit! Et la lumière fut.
3,1,1,4,Dieu vit que la lumière était bonne; et Dieu s...
4,1,1,5,"Dieu appela la lumière jour, et il appela les ..."

In [41]:
new_bible.tail()

,livres,chapitres,versets,textes
31097,66,22,17,Et l'Esprit et l'épouse disent: Viens. Et que ...
31098,66,22,18,Je le déclare à quiconque entend les paroles d...
31099,66,22,19,et si quelqu'un retranche quelque chose des pa...
31100,66,22,20,"Celui qui atteste ces choses dit: Oui, je vien..."
31101,66,22,21,Que la grâce du Seigneur Jésus soit avec tous!

In [42]:
def supprimer_caracteres(s):
    s = s.replace(":","")
    s = s.replace(",","")
    s = s.replace(";","")
    s = s.replace("'"," ")
    s = s.replace(".","")
    s = s.replace("!","")
    s = s.replace("?","")
    s = s.replace("à","a")
    s = s.replace("â","a")
    s = s.replace("é","e")
    s = s.replace("è","e")
    s = s.replace("ê","e")
    s = s.replace("ç","c")
    s = s.replace("î","i")
    s = s.replace("û","u")
    s = s.replace("-"," ")
    return s

In [43]:
for i in list(new_bible.index):
    new_bible.loc[i, 'textes'] = supprimer_caracteres(new_bible.loc[i, 'textes'])

In [44]:
new_bible.head()

,livres,chapitres,versets,textes
0,1,1,1,Au commencement Dieu crea les cieux et la terre
1,1,1,2,La terre etait informe et vide il y avait des ...
2,1,1,3,Dieu dit Que la lumiere soit Et la lumiere fut
3,1,1,4,Dieu vit que la lumiere etait bonne et Dieu se...
4,1,1,5,Dieu appela la lumiere jour et il appela les t...

In [45]:
livr = {}
k = 1

with open('fichiers_bibles/lives_bible.txt','r') as f:
    for line in f:
        livr[k] = line.rstrip('\n')
        k = k + 1

In [46]:
new_bible.livres = new_bible.livres.map(livr)

In [47]:
new_bible.tail()

,livres,chapitres,versets,textes
31097,Apocalypse,22,17,Et l Esprit et l epouse disent Viens Et que ce...
31098,Apocalypse,22,18,Je le declare a quiconque entend les paroles d...
31099,Apocalypse,22,19,et si quelqu un retranche quelque chose des pa...
31100,Apocalypse,22,20,Celui qui atteste ces choses dit Oui je viens ...
31101,Apocalypse,22,21,Que la grace du Seigneur Jesus soit avec tous

In [48]:
new_bible.to_csv("fichiers_bibles/bible_louis_segond.csv", sep=",", index=False)

In [55]:
new_bible[new_bible["livres"]=="Matthieu"]

,livres,chapitres,versets,textes
23145,Matthieu,1,1,Genealogie de Jesus Christ fils de David fils ...
23146,Matthieu,1,2,Abraham engendra Isaac Isaac engendra Jacob Ja...
23147,Matthieu,1,3,Juda engendra de Thamar Phares et Zara Phares ...
23148,Matthieu,1,4,Aram engendra Aminadab Aminadab engendra Naass...
23149,Matthieu,1,5,Salmon engendra Boaz de Rahab Boaz engendra Ob...
...,...,...,...,...
24211,Matthieu,28,16,Les onze disciples allerent en Galilee sur la ...
24212,Matthieu,28,17,Quand ils le virent ils se prosternerent devan...
24213,Matthieu,28,18,Jesus s etant approche leur parla ainsi Tout p...
24214,Matthieu,28,19,Allez faites de toutes les nations des discipl...
24215,Matthieu,28,20,et enseignez leur a observer tout ce que je vo...

In [56]:
nouveau_test = new_bible.loc[23145:,:]

In [57]:
nouveau_test.head()

,livres,chapitres,versets,textes
23145,Matthieu,1,1,Genealogie de Jesus Christ fils de David fils ...
23146,Matthieu,1,2,Abraham engendra Isaac Isaac engendra Jacob Ja...
23147,Matthieu,1,3,Juda engendra de Thamar Phares et Zara Phares ...
23148,Matthieu,1,4,Aram engendra Aminadab Aminadab engendra Naass...
23149,Matthieu,1,5,Salmon engendra Boaz de Rahab Boaz engendra Ob...

In [58]:
nouveau_test.to_csv("fichiers_bibles/nouveau_testament_louis_segond.csv", sep=",", index=False)